<?xml version="1.0" encoding="utf-8" ?>
<smtp deliveryMethod="Network" from="online-testing-service@o2.pl">
        <network
          host="poczta.o2.pl"
          port="587"
          enableSsl="true"
          userName="online-testing-service@o2.pl"
          password="$ecretpa$$word"
          />
      </smtp>
