@model Test

@{
    ViewBag.Title = "Finished";
    Layout = "Layout.cshtml";
}

<h2>Test Finished</h2>

<b>Dear @(Model.Candidate.Name),</b></br>
thank you for filling the test! You will be notified about your result via e-mail.